pi-trafficlights/traffic-lights.json
[{"id":"28756ab6.e570f6","type":"tab","label":"Traffic Light","disabled":false,"info":""},{"id":"7d8f913e.bc743","type":"inject","z":"28756ab6.e570f6","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":40,"wires":[["1446c80a.4ded08"]]},{"id":"484f4218.e60c5c","type":"delay","z":"28756ab6.e570f6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"10","randomUnits":"seconds","drop":false,"x":100,"y":280,"wires":[["1446c80a.4ded08"]]},{"id":"d208689.e7b1b98","type":"delay","z":"28756ab6.e570f6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"10","randomUnits":"seconds","drop":false,"x":100,"y":220,"wires":[["23f65d19.c68992"]]},{"id":"1446c80a.4ded08","type":"change","z":"28756ab6.e570f6","name":"Set Red ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"red\":\"1\",\"yellow\":\"0\",\"green\":\"0\",\"colour\":\"red\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":100,"wires":[["2043a7e7.e18678","115891b.9a26d6e"]]},{"id":"bbc5fd00.73fa6","type":"change","z":"28756ab6.e570f6","name":"Set Green ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"red\":\"0\",\"yellow\":\"0\",\"green\":\"1\",\"colour\":\"green\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":160,"wires":[["d208689.e7b1b98","2043a7e7.e18678"]]},{"id":"23f65d19.c68992","type":"change","z":"28756ab6.e570f6","name":"Set Yellow ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"red\":\"0\",\"yellow\":\"1\",\"green\":\"0\",\"colour\":\"yellow\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":220,"wires":[["484f4218.e60c5c","2043a7e7.e18678"]]},{"id":"2661fc30.d42ec4","type":"rpi-sensehat out","z":"28756ab6.e570f6","name":"","x":590,"y":340,"wires":[]},{"id":"fd51a3d7.6e0b3","type":"mqtt in","z":"28756ab6.e570f6","name":"","topic":"topic/traffic-light","qos":"2","datatype":"json","broker":"19deb542.b0496b","x":100,"y":340,"wires":[["5188a4d5.5a12ac","a1d8dce.4edc02","225c6446.fb635c"]]},{"id":"2043a7e7.e18678","type":"mqtt out","z":"28756ab6.e570f6","name":"","topic":"topic/traffic-light","qos":"","retain":"","broker":"19deb542.b0496b","x":580,"y":160,"wires":[]},{"id":"5188a4d5.5a12ac","type":"function","z":"28756ab6.e570f6","name":"Change Traffic Light Colour","func":"var colour = ['*', '*', msg.payload.colour].toString();\nnode.send({payload:colour});\nreturn null;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["2661fc30.d42ec4"]]},{"id":"a1d8dce.4edc02","type":"ui_template","z":"28756ab6.e570f6","group":"a00812.d8ea47f","name":"","order":0,"width":"0","height":"0","format":"<!DOCTYPE html>\n<html>\n<body>\n<div style=\"text-align: center; top: 0px; width: 140px; height: 400px;\">\n    <img\n        height=\"400\"\n        src=/images/traffic-lights/{{msg.payload.colour}}.png>\n</div>        \n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":280,"y":400,"wires":[[]]},{"id":"115891b.9a26d6e","type":"delay","z":"28756ab6.e570f6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"10","randomUnits":"seconds","drop":false,"x":100,"y":160,"wires":[["bbc5fd00.73fa6"]]},{"id":"225c6446.fb635c","type":"debug","z":"28756ab6.e570f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":460,"wires":[]},{"id":"19deb542.b0496b","type":"mqtt-broker","z":"","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a00812.d8ea47f","type":"ui_group","z":"","name":"Traffic Light","tab":"89a90854.83c858","order":1,"disp":true,"width":"6","collapse":false},{"id":"89a90854.83c858","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]